/*
CSS Game Snake
*/

#menu {
    background-color: white;
    border-radius: 10px;
    height: 200px;
    width: 400px;
    text-align: center;
  }

.square {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
  }

  .circle {
    position: absolute;
    background-color: white;
    border-radius: 50%;
  }

  #score {
    background-color: white;
    border-radius: 10px;
    height: 200px;
    width: 400px;
    text-align: center;
    display: none;
  }