/*
CSS Game Snake
*/

#menu {
    text-align: center;
    opacity : 0;
    transition: all 3s;
  }

.square {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
  }

  .circle {
    position: absolute;
    background-color: white;
    border-radius: 50%;
  }

  #score {
    text-align: center;
    opacity : 0;
    transition: all 3s;
  }

  #grilleScore{
    position: absolute;
    top: 5px;
    left: 5px;
  }

  #pseudo {
    text-align: center;
    opacity : 0;
    transition: all 3s;
  }

  .pseudo{
    font-family: "minecraftia";
    text-align: center;
    background-color: black;
    color: white;
    border: none;
  }